body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.my-custom-bg{
    background-color: black;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.container {
    max-width: 800px;
    margin: auto;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-header .btn-link {
    color: white;
    text-decoration: none;
}

.card-body {
    font-size: 1rem;
    color: #555;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}
.cake1{
    position: absolute;
    z-index: -1;
    bottom: 8px;
    filter: blur(3px);
    margin-left: -150px;
    width: 22%;
    height: auto;
}

.cake2{
    position: absolute;
    z-index: -1;
    right: 0px;
    bottom: 75%;
    width: 20%;
    height: auto;
}

.cake3{
    position: absolute;
    z-index: -1;
    top: 20%;
    left: 10%;
    width: 20%;
    height: auto;
}

.cake4{
    position: absolute;
    z-index: -1;
    top: 38%;
    right: 1%;
    width: 15%;
}

.cake5{
    position: absolute;
    z-index: -1;
    right: 20%;
    top: 80%;
    filter: blur(1px);
    width: 10%;
    height: auto;
}
